.practice {
  height: 50vh;
  background-color: aquamarine;
  margin-top: -19rem;
  clip-path: polygon(
    0 9vw,
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &-div__1 {
    height: 100%;
    background-color: rgb(159, 63, 255);
  }
  &-div__2 {
    height: 100%;
    background-color: rgb(157, 255, 0);
  }
  &-div__3 {
    height: 100%;
    background-color: rgb(255, 57, 57);
  }
}
