.tour-gallery {
  display: flex;
  margin-top: -9vw;
  position: relative;
  z-index: 100;
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );

  & .img-1 img {
    padding-top: 15%;
  }
  & .img-2 img {
    padding-bottom: 15%;
  }
  & .img-3 img {
    padding-bottom: 27%;
  }
  & img {
    width: 100%;
    object-fit: cover;
    height: 110%;
    display: block;
  }
}
