.tour-detail {
  padding: 20rem 0 10rem 0;
  margin-top: -17rem;
  background-color: white;
  position: relative;
  display: flex;

  z-index: 1;
  &::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(235, 235, 235);
    width: 50%;
    height: 100%;
  }

  ///////////////////////////////////////////////////////// DIV 1 START
  &__1 {
    padding: 5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 50%;
    gap: 3rem;
    justify-content: center;

    position: relative;
    z-index: 2;

    &__box-1 {
      align-self: center;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;

      &-heading1 {
        align-self: start;
      }

      &-list1 {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1.5rem;
        align-self: flex-end;

        & li {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;

          gap: 1rem;
          font-size: 1.8rem;

          & div {
            display: flex;
            align-items: center;
            flex: 1 1 1;

            & img {
              width: 4rem;
              height: 4rem;
              display: block;
              border-radius: 50%;
              margin-right: 1rem;
            }
          }

          & strong {
            margin-right: 2rem;
          }

          & svg {
            fill: var(--color-secondary);
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }

  ///////////////////////////////////////////////////////// DIV 2 START

  &__2 {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    padding: 5rem 10rem;
    justify-content: flex-start;

    & p:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
