.tour-review {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  gap: 8rem;
  justify-content: center;
  align-items: center;
  padding-top: 20rem;
  padding-bottom: 20rem;
  margin-top: -24rem;
  position: relative;
  z-index: 1;
  background-color: #555;

  &-box {
    width: 80rem;
    height: 40rem;
    border-radius: 90px;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
    // justify-content: center;
    // gap: 3rem;
    position: relative;
    overflow: hidden;

    & .review {
      background-color: rgba(255, 255, 255, 0.95);

      margin: 0 0rem;
      border-radius: 11px;
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.6s ease-in-out;

      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      padding: 0 12rem;

      &::after {
        content: "\201C";
        position: absolute;
        top: -5rem;
        left: 6rem;
        // background-color: #28b487;
        color: #dadada;
        font-size: 20rem;
      }
      &__user-details {
        display: flex;
        // flex: 0 0 30%;
        justify-self: flex-start;
        align-self: flex-start;
        // flex-direction: column;
        gap: 1rem;

        justify-content: center;
        align-items: center;
        & .review-img {
          height: 6rem;
          width: 6rem;
          border-radius: 5000%;
        }

        & .review-name {
          font-size: 1.6rem;
          color: #555;
          font-weight: 400;
        }
      }

      &__review-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        // padding: 0 9srem;
        padding: 5rem 0 0 0;

        & .review-title {
          font-size: 3.4rem;
          background-image: var(--background-img);
          background-clip: text;
          color: transparent;
          font-weight: 400;
        }
        & .review-text {
          font-size: 1.8rem;
          // background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
          // background-clip: text;
          // color: transparent;
          color: #777;
          font-weight: 400;
        }
      }
    }

    & .slider-btn {
      color: white;
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4rem;
      width: 4rem;
      font-size: 3rem;
      border-radius: 50%;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.4);
    }

    & .increase-btn {
      right: 1rem;

      transform: translate(0, -50%);
    }

    & .decrease-btn {
      left: 1rem;

      transform: translate(0, -50%);
    }

    &-dot {
      position: absolute;
      display: flex;
      gap: 1rem;
      bottom: 0rem;
      border-radius: 12px;
      left: 50%;
      z-index: 20;
      transform: translate(-50%, 0);
      padding: 1rem 2rem;

      & div {
        height: 1rem;
        width: 1rem;
        background-color: rgb(184, 184, 184);
        border-radius: 50%;
        cursor: pointer;
      }

      & .dot-active {
        transition: all.2s;
        background-color: rgb(107, 107, 107) !important;
      }
    }
  }
}
.review-2 {
  background-color: rgb(255, 0, 0) !important;
}

// .active-review {
//   border: 2px solid green;
//   position: relative;
//   opacity: 1;
//   z-index: 1;
// }

// .inactive-review {
//   position: relative;
//   border: none;
//   z-index: -100;
//   opacity: 0.5;
// }
